/* GLOBAL */
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

body a {
    cursor: pointer !important;
}

.container {
    width: 100vw;
    padding: 0 15px 0 15px;
}

.fz-1 {
}

/* BANNER WITH HEADER */
.banner {
    width: 100%;
    background-image: linear-gradient(
            to right,
            #ff6600,
            hsl(30deg 100% 1% / 20%)
        ),
        url(../img/diner_img02.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.header {
}
