/* GLOBAL */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: var(--primary-color);
    --secondary: #f8b195;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
    --heading-color: #232121;
    --border-radius: 6px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #232121;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-light: rgba(130, 115, 252, 0.05);
    --bg-grey: #f7f7f7;
    --footer-bg: #000;
    --card-bg: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
}

body a {
    cursor: pointer !important;
    text-decoration: none !important;
}

.container {
    max-width: 1200px;
    width: 100vw;
    padding: 0 15px 0 15px;
}

body p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    font-family: "Quicksand", sans-serif;
}

/* /BANNER WITH HEADER */
.banner {
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(
            to right,
            #ff6600,
            hsl(30deg 100% 1% / 20%)
        ),
        url(../img/diner_img02.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: initial;
    background-attachment: fixed;
    padding-bottom: 80px;
}

/* /header */
.header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}

.header-left-logo h1 a {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
}

.header-right-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.header-right-content .search-bar .search input {
    display: flex;
    flex: 1;
    padding: 10px 50px 10px 20px;
    height: 100%;
    font-size: 16px;
    color: var(--font-color);
    border: none;
    font-weight: 400;
    border-radius: var(--border-radius);
    background: var(--bg-color);
    outline: 0;
    border: 1px solid var(--bg-color);
}

.search {
    position: relative;
}

.header .header-right-content .search-bar .search span {
    position: absolute;
    right: 8%;
    top: 34%;
    font-size: 15px;
    cursor: pointer;
}

.header .header-right-content .toggle-nightMode button {
    height: 100%;
    border: none;
    background-color: transparent;
}

/* @media screen and (max-width: 1920px) */
/* //header */

/* /banner-intro */
.banner .banner-intro {
    max-width: 600px;
    text-align: left;
    margin-top: 100px;
}

.banner .banner-intro h3 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

.banner .banner-intro .lorem {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
}

.btn-white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 45px;

    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
}

.btn-white:hover {
    color: var(--primary-color);
    background-color: #fff;
}
/* //banner-intro */
/* //BANNER WITH HEADER */

/* /MENU */
.title-top {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
    font-family: "Pacifico", cursive;
}

.title-bot {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
}

/* /menu-top */
.menu-top {
    background-color: var(--bg-grey);
}

.menu .menu-top .categories-items {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 32px;
}

.categories-item .categories-img .img {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
}

.categories-item .categories-img .img:hover {
    opacity: 0.9;
    transition: all 0.4s;
}

.categories-item {
    position: relative;
}

.categories-item .categories-info {
    position: absolute;
    bottom: 0;
    left: auto;
    padding: 8%;
    padding-bottom: 2%;
}

.categories-item .categories-info a h4 {
    font-size: 28px;
    line-height: 25px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.categories-item .categories-info span {
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 20px;
    letter-spacing: 1px;
}

@media screen and (min-width: 1220px) {
    .categories-items {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1219px) {
    .categories-items {
        padding-left: 15px;
    }
}
/* //menu-top*/

/* /menu-bot */
.box-wrap {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: var(--bg-color);
    position: relative;
    border: 1px solid var(--border-color-light);
}

.box-wrap:hover {
    box-shadow: 0 20px 90px 1px rgba(0, 0, 0, 0.1);
}

.box-wrap-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: var(--bg-light);
    line-height: 70px;
    border-radius: var(--border-radius);
    transition: 0.3s ease-in-out;
}

.icon span {
    color: var(--primary-color);
    font-size: 25px;
    line-height: 70px;
}

.box-wrap:hover .icon {
    background-color: var(--primary-color);
    transition: 0.4s ease-in-out;
}

.box-wrap:hover .icon span {
    color: #fff;
    transition: 0.4s ease-in-out;
}

.box-wrap p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--font-color);
    font-family: "Quicksand", sans-serif;
}

.box-wrap .box-wrap-grid .info p {
    line-height: 1;
    font-size: 20px;
    font-weight: 400;
}

.box-wrap .box-wrap-grid .info h4 a {
    color: var(--heading-color);
    font-weight: 500;
}

.box-wrap .box-wrap-grid .info h4 a:hover {
    color: var(--primary-color);
    font-weight: 600;
}
@media screen and (min-width: 1220px) {
    .categories-menu {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1219px) {
    .categories-menu {
        padding-left: 15px;
    }
}
/* //menu-bot */
/* //MENU */

/* /POST */
.posts {
    background-color: var(--bg-grey);
}

.posts .posts-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.posts-grid .posts-grid-item .card {
    position: relative;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: 0;
}

.posts-grid .posts-grid-item .card .card-img {
    border-radius: 6px;
}

.posts-grid .posts-grid-item .card-header-info {
    position: absolute;
    bottom: 0;
    left: 0;
}

.posts-grid .posts-grid-item .card-header-info a {
    background-color: var(--primary-color);
    padding: 4px 18px;
    margin-right: 10px;
    border-radius: 14px;
    border: transparent;
    color: #fff;

    font-size: 14px;
    font-weight: 600;
}

.posts-grid .posts-grid-item .card-header-info .status {
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
}

/* /card-body */
.card-body .card-body-title {
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--heading-color);
    letter-spacing: 0.5px;
}

.card-body p {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
}

.card-body .card-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
}

.card-body .card-footer .card-footer-left {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
}

.card-body .card-footer .card-footer-left .card-footer-img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.card-body .card-footer .card-footer-left a {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 16px;
}

.card-body .card-footer .card-footer-right a {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 16px;
}

.card-body .card-footer .card-footer-right a span {
    padding-left: 6px;
    vertical-align: baseline;
    font-size: 18px;
}

.card-body .card-footer .card-footer-right:hover a,
.card-footer-right:hover a span {
    color: var(--primary-color);
}
/* //card-body */
/* //POST */

/* /TESTIMONIAL */

.testimonial .testimonial-carousel .testimonial-item a .item-img {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial .testimonial-carousel .testimonial-item .quotation {
    color: var(--primary-color);
    font-size: 20px;
}

.testimonial .testimonial-carousel .testimonial-item .impress {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: "Quicksand", sans-serif;
}

.testimonial .testimonial-carousel .testimonial-item p {
    width: 50vw;
    margin: 0 auto;
    color: var(--font-color);
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
}

.testimonial .testimonial-carousel .testimonial-item h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}

/* //TESTMONIAL */

/* ///Owl--global--CSS */
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    border: none;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.owl-height {
    transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
    transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

@media (max-width: 568px) {
    .owl-carousel .owl-dots.disabled,
    .owl-carousel .owl-nav.disabled {
        display: none;
    }
}

/**
   * Owl Carousel v2.3.4
   * Copyright 2013-2018 David Deutsch
   * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
   */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
    display: block;
}

.owl-dots {
    margin-top: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    background: none;
}

.owl-blog .owl-dots {
    display: none;
}

.owl-theme .owl-nav [class*="owl-"] {
    color: #fff;
    font-size: 18px;
    margin: 0px;
    width: 50px;
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: rgba(255, 255, 255, 0.25);
    opacity: 1;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    transition: 0.3s ease-in-out;
}

.owl-theme .owl-nav [class*="owl-"]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
    outline: none;
    box-shadow: none;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0px;
    text-align: center;
}

.w3l-portflioblock .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0px;
    text-align: center;
}

.w3l-blog-slider .owl-dots {
    text-align: center;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #d8d8d8;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 30px;
    position: relative;
}

button.owl-next,
button.owl-prev {
    position: absolute;
    bottom: 50%;
}

button.owl-prev {
    left: 10px;
}

button.owl-next {
    right: 10px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color);
}

@media all and (max-width: 640px) {
    .owl-dots {
        margin-top: 30px;
    }

    button.owl-next,
    button.owl-prev {
        position: absolute;
        bottom: 38%;
    }
}
/*--//clients--*/
/* ///Owl--global--CSS */
